@font-face {
  font-family: "Michroma";
  src: url("../assets/fonts/Michroma-Regular.ttf");
}
@font-face {
  font-family: "Wild World";
  src: url("../assets/fonts/WILD WORLD.otf");
}
:root {
  --font: "Michroma";
  --yellow: #FFD35B;
  --pink: #E73B83;
  --orange: #FF8A5B;
}

*,
*::before,
*::after {
  font-family: var(--font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-title {
  --font: "Wild World";
  font-size: clamp(1rem, 4vw, 1.5rem);
  color: white;
}

.big-title {
  --font: "Wild World";
  color: white;
  font-size: clamp(2rem, 6vw, 5rem);
}

.small-title {
  --font: "Wild World";
  color: white;
  font-size: clamp(1rem, 6vw, 2.25rem);
}

.big-paragraph {
  --font: "Michroma";
  color: white;
  font-size: clamp(1.13rem, 3vw, 3rem);
}

.small-paragraph {
  --font: "Michroma";
  color: white;
  font-size: clamp(0.5rem, 3vw, 1.1rem);
}

.big-button {
  padding: 1.5em;
  font-size: clamp(0.75em, 3vw, 1.25em);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  --font: "Wild World";
  color: hsl(0deg, 0%, 0%);
  background-color: var(--yellow);
}

.small-button {
  padding: 1.25em 2.5em;
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  --font: "Wild World";
  color: hsl(0deg, 0%, 0%);
  background-color: var(--yellow);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  width: clamp(2.5rem, 5vw, 3rem);
}

body.index {
  background-image: url("../assets/images/backgrounds/gradient-bg-2k.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}
body.index .content-wrapper {
  padding-right: clamp(6rem, 4vw, 9rem);
  padding-left: 9em;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 100%;
  max-width: 1500px;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  float: right;
}

body.music {
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #692844;
}
body.music .content-wrapper {
  width: 100vw;
}
body.music .content-wrapper .content {
  height: 100vh;
  width: 100%;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body.music .content-wrapper .content.section-1 {
  width: 100vw;
  background-image: url("../assets/images/backgrounds/music-bg-section-1-4k.png");
  background-position: bottom left;
  background-size: cover;
}
body.music .content-wrapper .content.section-2 {
  width: 100%;
  background-position: top left;
  background-image: url("../assets/images/backgrounds/music-bg-section-2-4k.png");
  background-size: contain;
  background-size: cover;
}
body.music .content-wrapper .content.section-2 .card {
  width: 670px;
  height: 230px;
  display: flex;
  flex-direction: row;
}
body.music .content-wrapper .content.section-2 .card .text {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
}
body.music .content-wrapper .content.section-2 .card .image {
  width: 14.375rem;
  height: 14.375rem;
  background-color: hsl(0deg, 0%, 60%);
  border-radius: 1em;
}
body.music .content-wrapper .content .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}
body.music .content-wrapper .content .icons * {
  width: 6em;
  height: 6em;
}
body.music .navbar {
  background: hsla(0deg, 0%, 0%, 0.25);
  position: absolute;
}

.navbar {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  z-index: 100;
}
.navbar .left,
.navbar .right * {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}
.navbar .right * {
  gap: 2em;
}

.menu {
  width: 100vw;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: hsl(48deg, 29%, 10%);
  transition: opacity 400ms ease;
}
.menu.visuallyhidden {
  opacity: 0;
}
.menu.visuallyhidden .menu-items {
  transform: translateX(10em);
}
.menu.hidden {
  display: none;
}
.menu .menu-items {
  margin-top: clamp(4rem, 20vw, 12rem);
  margin-left: clamp(4rem, 20vw, 48rem);
  z-index: 2;
  transition: transform 800ms ease;
}
.menu .menu-items .menu-item {
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}
.menu .menu-items:hover > .menu-item {
  opacity: 0.3;
}
.menu .menu-items:hover > .menu-item:hover {
  opacity: 1;
}
.menu .menu-items:hover ~ .menu-bg-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}
.menu .menu-bg-pattern {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(hsla(0deg, 100%, 100%, 0.1) 9%, transparent 9%);
  background-position-x: 0%;
  background-position-y: var(--bg-pos-y);
  background-size: 12vmin 12vmin;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}

.menu-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  font-size: 13px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.menu-toggle .menu-icon {
  width: 3em;
  height: 0.4em;
  background: hsl(0deg, 100%, 100%);
  transition: all 400ms ease-in-out;
  border-radius: 0.5em;
}
.menu-toggle .menu-icon::before, .menu-toggle .menu-icon::after {
  content: "";
  position: absolute;
  width: 3em;
  height: 0.4em;
  border-radius: 0.5em;
  background: hsl(0deg, 100%, 100%);
  transition: all 400ms ease-in-out;
}
.menu-toggle .menu-icon::before {
  transform: translateY(-1em);
}
.menu-toggle .menu-icon::after {
  transform: translateY(1em);
}
.menu-toggle.open .menu-icon {
  transform: translateX(-50px);
  background: transparent;
}
.menu-toggle.open .menu-icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-toggle.open .menu-icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media only screen and (max-width: 570px) {
  body.index {
    align-items: center;
  }
  body.index .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vh 0 10vh 0;
    gap: 3em;
  }
}/*# sourceMappingURL=style.css.map */